---
// Component script
import Main from "../layouts/Main.astro";

import Cards from "../components/Cards.astro";
const profilePicture =
  "https://media.licdn.com/dms/image/D5603AQEGaIMqO7EDLw/profile-displayphoto-shrink_400_400/0/1698506658613?e=1712188800&v=beta&t=-UqWzJSEGAJVOvLvO2NKXkw7VbZyfgolP556cXQOJFQ";
---

<!-- Component template --> 
<Main title="Prenitha R">
  <div class="profile">
    <img src={profilePicture} alt="profile" class="profile__picture" />
    <div class="profile__details">
      <h1>Prenitha Rajesh</h1>
      <h2>Software Engineer</h2>
      <p>I'm a web developer and I help build excellent solutions!</p>
    </div>
  </div>

  <Cards cards={[
    {title: "Check out my latest work!",
    gradientFrom: "#818cf8",
    gradientTo: "#d8b4fe",
    to: "/tech"},
    {title: "See what I've been up to!",
    gradientFrom: "#fde68a",
    gradientTo: "#fca5a5",
    to: "/work-summary"},
    {title: "Beyond the screen!",
    gradientFrom: "#6ee7b7",
    gradientTo: "#9333ea",
    to: "/hobbies"}

  ]}/>
</Main>

<style>
  .profile {
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
    gap:2rem;
  }

  .profile__picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .profile__details {
    flex: 1 0 300px;
  }

  .profile__details h1 {
    margin: 0;
  }
</style>

<script>
  console.log("Hello world!");
</script>