---
// Component script
import Main from "../layouts/Main.astro";

import Cards from "../components/Cards.astro";
import About from "../components/About.astro";
import TechStack from "../components/TechStack.astro";
import Contact from "../components/Contact.astro";

const profilePicture =
  "https://media.licdn.com/dms/image/D5603AQEGaIMqO7EDLw/profile-displayphoto-shrink_800_800/0/1698506658613?e=1723680000&v=beta&t=9VxztyFdmM0sqfVGFItzwlfxQbE6zYofuhSk1eIcDAQ";
---

<!-- Component template --> 
<Main title="Prenitha R">
  <div class="profile">
    <img src={profilePicture} alt="profile" class="profile__picture" />
    <div class="profile__details">
      <h1>Prenitha R</h1>
      <h2>B.Tech Undergrad @ VIT Chennai</h2>
      <p>Full stack dev, tech innovator, and community leader!</p>
    </div>
  </div>

  <Cards cards={[
    {title: "Check out my latest work!",
    gradientFrom: "#818cf8",
    gradientTo: "#d8b4fe",
    to: "/projects"},
    {title: "See what I've been up to!",
    gradientFrom: "#fde68a",
    gradientTo: "#fca5a5",
    to: "/experience"},
    {title: "Beyond the screen!",
    gradientFrom: "#6ee7b7",
    gradientTo: "#9333ea",
    to: "/beyond-tech"}

  ]}/>

  <About />

  <TechStack />

  <Contact />
</Main>

<style>
  .profile {
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
    gap:2rem;
  }

  .profile__picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .profile__details {
    flex: 1 0 300px;
  }

  .profile__details h1 {
    margin: 0;
  }
</style>

