---
---

<div>
    <h2>About me</h2>
    <p>
        Hello! I'm Prenitha R, a final-year B.Tech undergraduate at VIT Chennai, passionate about technology and innovation. My journey in the tech world has been marked by a blend of leadership, development, and a constant pursuit of excellence.
    </p>
    <hr>
</div>

<style>
    h2{
        margin-top: 3rem;
    }
    p {
        line-height: 1.5;
    }
</style>