---
---

<div>
    <hr>
    <h2>Contact me</h2>
    <p>Feel free to contact me at <a href="mailto:prenitharajesh04@gmail.com">prenitharajesh04@gmail.com</a></p>
    <p>Or you can find me on <a href="https://www.linkedin.com/in/prenitha-r/">LinkedIn</a></p>
</div>

<style>
    h2{
        margin-top: 2rem;
    }
    p {
        font-size: 1em;
    }
    a {
        color: var(--grey-600);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>