---
interface TechStack {
  [key: string]: { name: string; image: string }[];
}

const techstack: TechStack = {
    // 'HTML', 'CSS', 'Bootstrap', 'Tailwind CSS', 'React', 'Astro', 'Next.js'
    Frontend: [
    {
      name: "HTML",
      image: "images/html.png",
    },
    {
      name: "CSS",
      image: "images/css.png",
    },
    {
        name: "Bootstrap",
        image: "images/bootstrap.png",
    },
    {
        name: "Tailwind CSS",
        image: "images/tailwind.png",
    },
    {
      name: "React",
      image: "images/react.png",
    },
    {
      name: "Astro",
      image: "images/astro.png",
    },
    {
      name: "Next.js",
      image: "images/next.jpg",
    },
  ],
  // 'JavaScript', 'TypeScript', 'Python', 'Java', 'C/C++', 'Go'
  Languages: [
    {
      name: "JavaScript",
      image: "images/js.png",
    },
    {
      name: "TypeScript",
      image: "images/ts.png",
    },
    {
      name: "Python",
      image: "images/python.png",
    },
    {
      name: "Java",
      image: "images/java.png",
    },
    {
      name: "C/C++",
      image: "images/cpp.png",
    },
    {
      name: "Go",
      image: "images/go.png",
    },
  ],
  // tools: ['Git', 'VS Code', 'Postman']
  Tools: [
    {
      name: "Git",
      image: "images/git.png",
    },
    {
      name: "VS Code",
      image: "images/vscode.png",
    },
    {
      name: "Postman",
      image: "images/postman.png",
    },
  ],
  // database: ['MySQL', 'PostgreSQL', 'MongoDB'],
  Database: [
    {
      name: "MySQL",
      image: "images/mysql.png",
    },
    {
      name: "PostgreSQL",
      image: "images/postgresql.png",
    },
    {
      name: "MongoDB",
      image: "images/mongo.png",
    },
  ],
  // backend: ['Node', 'Express'],
  Backend: [
    {
      name: "Node",
      image: "images/node.png",
    },
    {
      name: "Express",
      image: "images/express.png",
    },
  ],
  // devOps: ['Docker', 'Kubernetes'],
  DevOps: [
    {
      name: "Docker",
      image: "images/docker.png",
    },
    {
      name: "Kubernetes",
      image: "images/kubernetes.png",
    },
  ],
  // cloud: ['GCP', 'Azure'],
  Cloud: [
    {
      name: "GCP",
      image: "images/gcp.png",
    },
    {
      name: "Azure",
      image: "images/azure.png",
    },
  ],
  // design: ['Figma', 'Adobe XD'],
  Design: [
    {
      name: "Figma",
      image: "images/figma.png",
    },
    {
      name: "Adobe XD",
      image: "images/adobe xd.png",
    },
  ],
};
---

<>
  <h2>Tech Stack</h2>
  {
    Object.keys(techstack).map((key) => (
      <div class="tech-stack">
        <h3>{key}</h3>
        <div>
        {techstack?.[key]?.map((item) => (
                <div>
                    <img src={item.image} alt={item.name} />
                </div>
        ))}
        </div>
      </div>
    ))
  }
</>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  img {
    /* width: 40px; */
    height: 35px;
  }

  h2 {
    margin-top: 2.5rem;
  }

  h3 {
    color: var(--grey-400);
  }

  @media (max-width: 768px) {
    img {
      height: 30px;
    }

    .tech-stack {
      margin-bottom: 1rem;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
